.App {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
div .Gab__Wrapper,
div .Gab__Container,
div .Gab__Body {
  width: 100%;
  height: 100%;
}
div .Error__ {
  width: 100%;
  height: 100%;
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.error-page-icon {
  color: var(--yellow);
  width: 36px;
  height: 36px;
}
.Error__ h2 {
  margin: 0;
  margin-top: 24px;
  font-size: 24px;
  font-weight: 500;
}
.reload {
  margin-top: 21px;
  width: auto;
  height: auto;
  font-size: 18px;
  color: white;
  background-color: var(--lightblue);
  box-sizing: border-box;
  padding: 10px 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
input, textarea {
  border: none;
  text-decoration: none;
  outline: none;
}
input:focus, textarea:focus {
  outline: none;
  border: none;
}